<div class="areaSuggestions">
  <table>
    <thead>
      <th>Suggestions</th>

      <th>Action</th>
    </thead>
    <tbody>
      {{#each suggestions}}
        <tr>
          <td>{{this.product_name}}</td>
          <td><a href="/spaza/accept/{{this.id}}"><button
              >Accept</button></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <table>
    <thead>
      <th>Suggestions</th>
      <th>Status</th>
    </thead>
    <tbody>
      {{#each accepted}}
        <tr>
          <td>{{this.product_name}}</td>
          <td>Accepted</td>

        </tr>
      {{/each}}
    </tbody>
  </table>
</div>