<div class="login">
  <form action="/clientLogin" method="POST">
    <input type="text" name="clientCode" placeholder="Enter code here">
    <button class="loginBtn" type="submit">Login</button>
    <a href="/register">Dont have an account</a>
  </form>
</div>