<div class="login project">
  <form action="/clientLogin" method="POST">
  <h1>Login</h1>
    <input type="text" name="clientCode" placeholder="Enter code here" />
    <button class="loginBtn" type="submit">Login</button>
    <a href="/register">Dont have an account</a>
  </form>
</div>