<div class="register project">
  <form action="/clientRegister" method="post">
    <h1>Client Register</h1>
    <div class="codeDiv">
      <p>{{messages.register}}</p>
    </div>
    <input type="text" name="clientname" placeholder="Firstname" />
    <button class="regBtn" type="submit">Register</button>
    <a href="/spazaRegister">Register a spaza</a>
    <a href="/">Already have an account</a>
  </form>
</div>