<div class="spaza">
  <form action="/spaza" method="POST">
    <input type="text" name="shopname" placeholder="Shop name" />
    <select name="shoparea" id="shopArea">
      {{#each areas}}
        <option value="{{this.area_name}}">{{this.area_name}}</option>
      {{/each}}
    </select>
    <div class="codeDiv">
      <p>{{messages.registerShop}}</p>
    </div>
    <button class="registerSpazaBtn">Register</button>
    <a href="/">Already have an account</a>
  </form>
</div>